{% extends "base.html" %}

{% block content %}

<section>

<form method="POST" action="/matches/{{ id }}/edit?next={{ next }}">
    <fieldset>
        <select disabled>
            <option value="">{{ team1 }}</option>
        </select>
        <select disabled>
            <option value="">{{ team2 }}</option>
        </select>
    </fieldset>
    <fieldset>
        <legend>Optional</legend>
        <label for="date">Date</label>
        <input type="date" name="date" min="{{ year }}-01-01" max="{{ year }}-12-31" value="{{ prepare_for_date_input(timestamp) }}"/>
        <label for="time">Time</label>
        <input type="time" name="time" value="{{ prepare_for_time_input(timestamp) }}"/>
        <label for="score1">Score 1</label>
        <input type="number" name="score1" min=0 step="0.5" value="{{ score1 }}"/>
        <label for="score2">Score 2</label>
        <input type="number" name="score2" min=0 step="0.5" value="{{ score2 }}"/>
    </fieldset>
    <div>
    	<a href="{{ next }}">
            <button type="button" class="large-button cancel">Cancel</button>
        </a>
        <button type="reset" class="large-button cancel">Reset</button>
	    <button class="large-button" type="submit">Update</button>
	</div>
</form>

</section>

{% endblock %}
