{% extends "base.html" %}

{% block content %}

{% if current_user.is_authenticated %}

<div id="button-create-match" class="button-label-container">
    <a href="/matches/create?year={{ year }}&next={{ request.url }}">
        <button name="create-match" class="large-button"><i class="fa-solid fa-plus"></i></button>
        <label for="create-match">Create Match</label>
    </a>
</div>

{% endif %}

{% with matches=matches[matches['played']] %}
    {% if matches|length > 0 %}
    <section>
        <h2>Results</h2>
        {% for week, matches in matches.groupby('week') %}
            {% if week >= 0 %}
                <p class="date-group">Week of {{ format_date(week) }}</p>
            {% else %}
                <p class="date-group">Date TBC</p>
            {% endif %}
        	{% include 'partials/match_table.html' %}
        {% endfor %}
    </section>
    {% endif %}
{% endwith %}

{% with matches=matches[matches['played'] == False] %}
{% if matches|length > 0 %}
    <section>
        <h2>Scheduled</h2>
        {% for week, matches in matches.groupby('week') %}
            {% if week >= 0 %}
                <p class="date-group">Week of {{ format_date(week) }}</p>
            {% else %}
                <p class="date-group">Date TBC</p>
            {% endif %}
            {% include 'partials/match_table.html' %}
        {% endfor %}
    </section>
{% endif %}
{% endwith %}

<section>
    <ul class="page-nav">
        <li class="title">View year</li>
        {% for year in years %}
            <li><a class="highlight" href="/matches?year={{ year }}">{{ year }}</a></td>
        {% endfor %}
    </ul>
</section>

{% endblock %}
