<!--
INPUTS:
- matches: DataFrame with columns
  'date' (timestamp of match, formatted with `AsDate`)
  'time' (timestamp of match, formatted with `AsTime`)
  'id'
  'name1'
  'name2'
  'teamid1'
  'teamid2'
  'score1'
  'score2'
  'played'
-->

<figure>
    <ul class="matches">
        {% for _, match in matches.iterrows() %}
            <li>
                <div class="match">
                    <div class="datetime">
                        <span class="date">{{ match['date'] }}</span>
                        <span class="time">{{ match['time'] }}</span>
                    </div>
                    <a class="team highlight" href="/teams/{{ match['teamid1'] }}">{{ match['name1'] }}</a>
                    <span class="details">
                        {% if match['played'] %}
                            <span class="score {{ 'winner animate-pulse' if match['score1'] > match['score2'] else '' }}">{{ match['score1'] }}</span>
                            <span class="versus">:</span>
                            <span class="score {{ 'winner animate-pulse' if match['score2'] > match['score1'] else '' }}">{{ match['score2'] }}</span>
                        {% else %}
                            vs.
                        {% endif %}
                    </span>
                    <a class="team highlight" href="/teams/{{ match['teamid2'] }}">{{ match['name2'] }}</a>
                </div>
                {% if current_user.is_authenticated %}
                    <div class="options">
                        <div class="button-label-container" onclick="confirmDialog('Remove match at {{ match['date'] }} {{ match['time'] }}?', '/matches/{{ match['id'] }}/delete?next={{ request.url }}')">
                            <button name="remove-match" class="small-button"><i class="fa-solid fa-trash"></i></button>
                            <label for="remove-match">Remove</label>
                        </div>
                        <a href="/matches/{{ match['id'] }}/edit?next={{ request.url }}">
                            <div class="button-label-container">
                                <button name="edit-match" class="small-button"><i class="fa-solid fa-pencil"></i></button>
                                <label for="edit-match">Edit</label>
                            </div>
                        </a>
                    </div>
                {% endif %}
            </li>
        {% endfor %}
    </ul>
</figure>
