<!doctype html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        {% if title %}
        <title>{{ title }} - Summer Rounders</title>
        {% else %}
        <title>Summer Rounders</title>
        {% endif %}
        <link rel="stylesheet" type="text/css" href="/styles/style.css">
        <script src="https://kit.fontawesome.com/39b6f1d864.js" crossorigin="anonymous"></script>
        <script src="/scripts/script.js"></script>
    </head>
    <body>
        <header>
            <ul id="nav-bar">
                <li id="home"><a href="/">Summer Rounders</a></li>
                <li><a href="/matches">Matches</a></li>
                <li><a href="/teams">Teams</a></li>
                <li><a href="/about">About</a></li>
            </ul>
        </header>
        <div id="content-wrapper">
            <div id="content">
                <h1>{{ title }}</h1>
                {% block content %}{% endblock %}
            </div>
        </div>

        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <dialog class="flash" open>
            <div class="header flex-row">
                <p class="title">{{ messages[-1] }}</p>
                <form method="dialog">
                    <button autofocus class="large-button"><i class="fa-solid fa-xmark"></i></button>
                </form>
            </div>
        </dialog>
        {% endif %}
        {% endwith %}

    </body>
    <footer>
        <p style="float: left;">Made by Jack Morton, source on <a href="https://github.com/JJMorton/rounders">GitHub</a></p>
        {% if current_user.is_authenticated %}
            <p style="float: right;"><a href="/logout">Log Out</a></p>
        {% else %}
            <p style="float: right;"><a href="/login">Admin Login</a></p>
        {% endif %}
    </footer>
</html>
