<!doctype html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        <!-- favicons -->
        <link rel="apple-touch-icon" sizes="180x180" href="/favicons/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/favicons/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/favicons/favicon-16x16.png">
        <link rel="manifest" href="/favicons/site.webmanifest">
        <link rel="mask-icon" href="/favicons/safari-pinned-tab.svg" color="#233044">
        <link rel="shortcut icon" href="/favicons/favicon.ico">
        <meta name="msapplication-TileColor" content="#233044">
        <meta name="msapplication-config" content="/favicons/browserconfig.xml">
        <meta name="theme-color" content="#233044">

        {% if title %}
        <title>{{ title }} - PGR Rounders</title>
        {% else %}
        <title>PGR Rounders</title>
        {% endif %}
        <link rel="stylesheet" type="text/css" href="/styles/style.css">
        <script src="https://kit.fontawesome.com/39b6f1d864.js" crossorigin="anonymous"></script>
        <script src="/scripts/htmx.min.js"></script>
        <script src="/scripts/script.js"></script>
    </head>
    <body>

        <header>
            <ul id="nav-bar">
                <li id="home"><a href="/">
                    <img class="logo" src="/images/logo.svg"/>
                    Home
                </a></li>
                <li class="separator"></li>
                <li><a href="/teams">Standings</a></li>
                <li><a href="/matches">Matches</a></li>
                <li><a href="/rules">Rules</a></li>
                <li><a target="_blank" href="https://forms.office.com/Pages/ResponsePage.aspx?id=d10qkZj77k6vMhM02PBKUw6_kGGZzg9KraJuxFzesK5UM1BQWFpWSENQOTFaUDQ0SVdVNFNNU0RDMy4u">Signup</a></li>
            </ul>
        </header>

        <div id="content-wrapper">
            <div id="content">
                <h1>{{ title }}</h1>

                {% with messages = get_flashed_messages() %}
                {% if messages %}
                {% for message in messages %}
                    <div class="flash"><p>{{ message }}</p></div>
                {% endfor %}
                {% endif %}
                {% endwith %}

                {% block content %}{% endblock %}
            </div>
        </div>

        <footer>
            <div class="left">
                <p><i class="fa-solid fa-wand-magic-sparkles"></i> Website by Jack Morton, source on <a class="highlight" target="_blank" href="https://github.com/JJMorton/rounders">GitHub</a></p>
            </div>
            <div class="right">
                {% if current_user.is_authenticated %}
                    <p><a href="/logout"><i class="fa-solid fa-right-from-bracket"></i> Log Out</a></p>
                {% else %}
                    <p><a href="/login"><i class="fa-solid fa-right-to-bracket"></i> Admin Login</a></p>
                {% endif %}
            </div>
        </footer>

    </body>
</html>
