{% extends "base.html" %}

{% block content %}

<section>

    <form method="POST" action="/teams/create?next={{ next }}">
    	<input type="hidden" name="year" value="{{ year }}"/>
        <input type="text" name="name" placeholder="Team Name" required>
        <fieldset>
            <legend>Choose players</legend>
            <select multiple name="players" id="select-players" size="10">
	            {% for _, player in players.iterrows() %}
	            	<option value="{{ player['id'] }}">{{ player['name_first'] }} {{ player['name_last'] }}</option>
	            {% endfor %}
            </select>
        </fieldset>
    	<a href="{{ next }}">
    		<button type="button" class="large-button cancel">Cancel</button>
    	</a>
        <button class="large-button" type="submit">Create</button>
    </form>

</section>

{% endblock %}
