{% extends "base.html" %}

{% block content %}
<section>
    <div class="centering">
        <table>
            <tr>
                <th scope="column" class="left">Name</th>
                <th scope="column" class="right">Points</th>
                <th scope="column" class="right">No. of Games</th>
            </tr>
            {% for _, row in table.iterrows() %}
                <tr>
                    <td class="left"><a href="/teams/{{ row['id'] }}">{{ row['name'] }}</a></td>
                    <td class="right">{{ row['score'] or 0 }}</td>
                    <td class="right">{{ row['match_count'] or 0 }}</td>
                </tr>
            {% endfor %}
        </table>
    </div>
</section>

<section>
    <table>
        <tr>
            <td class="left">Go to year</td>
            {% for year in years %}
                <td class="center"><a href="/teams?year={{ year }}">{{ year }}</a></td>
            {% endfor %}
        </tr>
    </table>
</section>
{% endblock %}
