<!--
INPUTS:
- teams: DataFrame with columns
  'id'
  'name'
  'match_count'
  'points'
  'wins'
  'draws'
  'losses'
  'scored'
  'conceded'
-->

{% if teams.size > 0 %}
<figure>
    <table class="rankings">
        <tr class="header">
            <th scope="column" class="left">Team</th>
            {% if detailed %}
                <th scope="column" class="center" title="Rounders Scored">R+</th>
                <th scope="column" class="center" title="Rounders Conceded">R-</th>
                <th scope="column" class="center" title="Rounders Difference">RD</th>
            {% else %}
                <th scope="column" class="center" title="Played">P</th>
                <th scope="column" class="center" title="Wins">W</th>
                <th scope="column" class="center" title="Losses">L</th>
                <th scope="column" class="center" title="Draws">D</th>
            {% endif %}
            <th scope="column" class="center" title="Points">PTS</th>

        </tr>
        {% for _, row in teams.iterrows() %}
            <tr class="animate-slide-right" style="animation-delay: {{ loop.index * 30 }}ms">
                <td class="left"><a class="highlight" href="/teams/{{ row['id'] }}">
                    <strong>{{ row['name'] }}</strong>
                </a></td>
                {% if detailed %}
                    <td class="center">{{ row['scored'] }}</td>
                    <td class="center">{{ row['conceded'] }}</td>
                    <td class="center">{{ row['difference'] }}</td>
                {% else %}
                    <td class="center">{{ row['match_count'] or 0 }}</td>
                    <td class="center">{{ row['wins'] }}</td>
                    <td class="center">{{ row['losses'] }}</td>
                    <td class="center">{{ row['draws'] }}</td>
                {% endif %}
                <td class="center"><strong>{{ row['points'] }}</strong></td>

            </tr>
        {% endfor %}
    </table>
</figure>
{% endif %}