{% extends "base.html" %}

{% block content %}

{% if players.size > 0 %}
<section>
    <h2>Members</h2>
    <figure>
        <ul class="players">
            {% for _, player in players.iterrows() %}
                <li class="player">{{ player['name_first'] }} {{ player['name_last'] }}</li>
            {% endfor %}
        </ul>
    </figure>
</section>
{% endif %}

{% if matches.size > 0 %}
<section>
    <h2>Matches</h2>
    {% include 'matches/list.html' %}
</section>
{% endif %}

{% endblock %}
