{% extends "base.html" %}

{% block content %}
<section>
    <div class="centering">
        <table>
	    	<caption>Matches Played</caption>
            {% for _, match in matches.iterrows() %}
                <tr>
                    <td class="left">{{ match['date'] }}</td>
                    <th class="center">{{ match['score1'] }}</td>
                    <td class="left"><a href="/teams/{{ match['id1'] }}">{{ match['name1'] }}</a></td>
                    <td class="center">vs.</td>
                    <td class="right"><a href="/teams/{{ match['id2'] }}">{{ match['name2'] }}</a></td>
                    <th class="center">{{ match['score2'] }}</td>
                </tr>
            {% endfor %}
        </table>
    </div>
</section>
{% endblock %}
