:root {
	--nav-height: 64px;
	--min-page-width: 350px;
	--max-page-width: 1100px;

    --corner-radius: 8px;
    --content-padding: 15px;

	--font-color-dark: #222;
	--divider-color: #aaa;
	--divider-color-dark: #666;

	--color-text-dark: #111;
	--color-text-light: #eee;
	--color-accent: #99c6ff;
	--color-mid: #aaaaaa;
	--color-dim: #edf6f9;
	--color-loss: #e29578;
	--color-win: #50e280;
}

body, html {
	margin: 0;
	padding: 0;
}

* {
	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

code, pre, tt {
	font-family: 'Courier New', Courier, monospace;
}

a {
    color: var(--color-text-dark);
    text-decoration: underline;
    text-decoration-style: dotted;
}

a:hover {
    text-decoration: underline;
    text-decoration-style: solid;
}

h1 {
    font-size: 130%;
}

h2 {
    font-size: 115%;
}

@keyframes bob {
	0% {
		transform: translateY(0);
	}
	50% {
		transform: translateY(-4px) scale(1.04);
	}
	100% {
		transform: translateY(0);
	}
}

body {
	min-width: var(--min-page-width);
}


/* Nav. bar */

header {
	border-bottom: 1px solid var(--divider-color);
	display: flex;
	flex-direction: row;
	padding: 0 max(calc(50% - 0.5 * var(--max-page-width)), 0px);
}

header > #nav-bar {
	flex: 1;
	padding: 0;
	margin: 0;
	height: var(--nav-height);
	display: flex;
	flex-direction: row;
	list-style: none;
}

#nav-bar > li {
	transition: background-color 200ms;
}

#nav-bar > li:hover {
	background-color: rgba(0, 0, 0, 0.2);
}

#nav-bar > li > a {
	display: block;
	padding: 0 20px;
	box-sizing: border-box;
	line-height: var(--nav-height);
	text-decoration: none;
	color: var(--font-color-dark);
}

#nav-bar #home {
	font-weight: bold;
	font-size: 150%;
}


/* Page content */

#content-wrapper {
	width: 100%;
	box-sizing: border-box;
	padding: var(--card-gap);
}

#content {
	max-width: var(--max-page-width);
	margin: 0 auto;
    padding: var(--content-padding);
}


/* Page navigation */

ul.page-nav {
	background-color: var(--color-dim);
	padding: 5px 10px;
	border-radius: var(--corner-radius);
}

ul.page-nav > li {
	display: inline;
	padding: 0 10px 0 0;
}

ul.page-nav > li.title {
	font-weight: 600;
	padding-right: 10px;
	margin-right: 10px;
	border-right: 1px solid var(--color-mid);
}


/* Figures */

figure {
    text-align: center;
}

figure > * {
    margin-left: auto;
    margin-right: auto;
}

figure > figcaption {
	text-align: center;
	font-style: italic;
}


/* Tables */

table {
    border-radius: var(--corner-radius);
    border-spacing: 0;
    overflow: hidden;
    padding: 0;
    min-width: 200px;
}

tr:nth-of-type(odd) {
    background-color: var(--color-dim);
}

td.left, th.left {
    text-align: left;
}

td.right, th.right {
    text-align: right;
}

td.center, th.center {
    text-align: center;
}

td, th {
    padding: 0.5em 1em;
}

th {
    background-color: var(--color-accent);
    color: var(--color-text-dark);
}

td.colgap {
	padding: 0;
	width: 2px;
}


/* Table of matches */

table.matches tr.played > td.win {
	background-color: var(--color-win);
}

table.matches tr.played > td.loss {
	background-color: var(--color-loss);
}


/* Footer */

footer {
	margin: 0 max(calc(50% - 0.5 * var(--max-page-width)), 0px);
    padding: 0 var(--content-padding);
	border-top: 1px solid var(--divider-color);
}

footer * {
    color: var(--color-mid);
}

