@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

:root {
	--nav-height: 75px;
	--mobile-nav-size: 50px;
	--min-page-width: 320px;
	--max-page-width: 900px;

	/* Size of clickable regions */
	--finger-size: 40px;

    --corner-radius: 8px;
    --content-padding: 15px;

	--font-color-dark: #222;
	--divider-color: #aaa;
	--divider-color-dark: #666;

	--color-text-dark: #111;
	--color-text-light: #eee;
	--color-accent-dark: #233044;
	--color-accent-light: #99c6ff;
	--color-mid: #aaaaaa;
	--color-dim: #edf6f9;

	--shadow: 0 0 4px 0 rgba(0, 0, 0, 0.1);
}

body, html {
	margin: 0;
	padding: 0;
}

body {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}

* {
	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	-webkit-font-smoothing: antialiased;
}

code, pre, tt {
	font-family: 'Courier New', Courier, monospace;
}

a {
	text-decoration: none;
	color: var(--color-text-dark);
}

a.highlight {
    color: unset;
    text-decoration: underline;
    text-decoration-style: dotted;
    text-decoration-thickness: 1px;
}

a.highlight:hover {
    text-decoration: underline;
    text-decoration-style: solid;
}

a[target="_blank"]::after {
	display: inline-block;
	vertical-align: super;
	font: var(--fa-font-solid);
	content: '\f08e';
	color: var(--color-mid);
	font-size: 60%;
	margin: 0 2px;
	text-decoration: none;
}

h1 {
	text-transform: uppercase;
	font-family: "Oswald", sans-serif;
	font-weight: 600;
	font-style: italic;
	position: relative;
}

h2 {
	text-transform: uppercase;
	font-family: "Oswald", sans-serif;
	font-weight: 500;
	font-style: italic;
}

body {
	min-width: var(--min-page-width);
}

.flex-row, .flex-responsive {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: var(--content-padding);
}

@media (width <= 600px) {
	.flex-responsive {
		flex-direction: column;
		align-items: stretch;
	}
}


/* Animations */

@keyframes slide-right {
	0% {
		transform: translateX(-10px);
		opacity: 0;
	}
	100% {
		transform: translateX(0px);
		opacity: 1;
	}
}

@keyframes pulse {
	0% {
		transform: scale(1) rotate(0deg);
	}
	50% {
		transform: scale(1.3) rotate(4deg);
	}
	90% {
		transform: scale(0.9);
	}
	100% {
		transform: scale(1) rotate(0deg);
	}
}

@keyframes spin {
	0% { rotate: 0deg; }
	100% { rotate: 360deg; }
}

.animate-slide-right {
	animation: 150ms ease-out 0s slide-right;
	animation-fill-mode: backwards;
}

.animate-pulse {
	animation: 200ms linear 400ms pulse;
}

.animate-spin {
	animation: 1s linear 0s infinite spin;
}


/* Nav. bar */

header {
	display: flex;
	flex-direction: row;
	padding: 0 max(calc(50% - 0.5 * var(--max-page-width)), 0px);
	background-color: var(--color-accent-dark);
}

header > #nav-bar {
	flex: 1;
	padding: 0;
	margin: 0;
	height: var(--nav-height);
	display: flex;
	flex-direction: row;
	list-style: none;
}

#nav-bar > li {
	min-width: 150px;
}

#nav-bar > li > a {
	transition: background-color 200ms;
	display: inline-block;
	padding: 0 20px;
	width: 100%;
	box-sizing: border-box;
	line-height: var(--nav-height);
	color: var(--color-text-light);
	text-align: center;
	text-transform: lowercase;
	font-variant: small-caps;
	font-size: 120%;
	letter-spacing: 1px;
	font-weight: bold;
}

#nav-bar > li:hover > a {
	background-color: rgba(255, 255, 255, 0.1);
}

#nav-bar .logo {
	float: left;
	pointer-events: none;
	padding: var(--content-padding) 0;
	height: var(--nav-height);
	box-sizing: border-box;
	margin-right: var(--content-padding);
}

#nav-bar .separator {
	background-color: var(--color-text-light);
	margin: 1.5em var(--content-padding);
	min-width: 2px;
	opacity: 0.3;
}

@media (orientation: portrait) {
	header > #nav-bar {
		height: auto;
		flex-direction: column;
		position: relative;
	}
	#nav-bar > li {
		width: 100%;
		height: var(--mobile-nav-size);
	}
	#nav-bar > li > a {
		line-height: var(--mobile-nav-size);
	}
	#nav-bar .logo {
		position: absolute;
		height: 100%;
		left: 20%;
		opacity: 0.1;
	}
	#nav-bar .separator {
		display: none;
	}
}


/* Page content */

#content-wrapper {
	width: 100%;
	box-sizing: border-box;
	padding: var(--card-gap);
}

#content {
	max-width: var(--max-page-width);
	margin: 0 auto;
    padding: var(--content-padding);
    padding-top: 0;
}


/* Flash */

.flash {
	display: block;
	margin: 10px auto;
	padding: var(--content-padding);
	background-color: var(--color-dim);
	border-radius: var(--corner-radius);
}

.flash > * {
	margin: 0;
}


/* Dialogs */

dialog {
	min-width: var(--min-page-width);
	padding: 20px;
	border: 1px solid var(--color-dim);
	border-radius: var(--corner-radius);
	box-shadow: var(--shadow);
}

dialog > .header {
	margin-bottom: 10px;
	padding-bottom: 10px;
}

dialog > .content {
	padding: 0 0 0 0;
	margin: 0 0 0 0;
}

dialog > .header .title {
	font-weight: bold;
	flex: 1;
	margin: 0;
}

dialog.question > .content {
	display: flex;
	flex-direction: row;
	gap: 10px;
	align-items: center;
	justify-content: center;
}


/* Figure */

@media (width <= 600px) {
	figure {
		margin-left: 0;
		margin-right: 0;
	}
}


/* Form elements */

form {
	margin: 0 auto;
}

input[type="text"],
input[type="password"],
textarea {
	padding: 10px;
	border: 1px solid var(--color-mid);
	border-radius: var(--corner-radius);
	width: 100%;
	box-sizing: border-box;
}

input[type="checkbox"]:checked {
	animation: 200ms linear 0s pulse;
}

input[type="checkbox"]:not(:hover) {
	animation: 0s linear 0s pulse;
}

select {
	background: url(data:image/svg+xml;base64,PHN2ZyBpZD0iTGF5ZXJfMSIgZGF0YS1uYW1lPSJMYXllciAxIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA0Ljk1IDEwIj48ZGVmcz48c3R5bGU+LmNscy0xe2ZpbGw6I2ZmZjt9LmNscy0ye2ZpbGw6IzQ0NDt9PC9zdHlsZT48L2RlZnM+PHRpdGxlPmFycm93czwvdGl0bGU+PHJlY3QgY2xhc3M9ImNscy0xIiB3aWR0aD0iNC45NSIgaGVpZ2h0PSIxMCIvPjxwb2x5Z29uIGNsYXNzPSJjbHMtMiIgcG9pbnRzPSIxLjQxIDQuNjcgMi40OCAzLjE4IDMuNTQgNC42NyAxLjQxIDQuNjciLz48cG9seWdvbiBjbGFzcz0iY2xzLTIiIHBvaW50cz0iMy41NCA1LjMzIDIuNDggNi44MiAxLjQxIDUuMzMgMy41NCA1LjMzIi8+PC9zdmc+) no-repeat 95% 50%;
	-moz-appearance: none; 
	-webkit-appearance: none; 
	appearance: none;
}

select,
input[type="text"],
input[type="password"],
input[type="number"],
input[type="time"],
input[type="date"] {
	height: var(--finger-size);
	border-radius: var(--corner-radius);
	border: 1px solid var(--color-mid);
	background-color: #fff;
	padding: 0 var(--content-padding);
}

select {
	padding: 0 30px 0 var(--content-padding);
}

input.score-input {
	font-weight: bold;
	text-align: center;
	width: max(4ch, calc(2 * var(--finger-size)));
}

.fancy-number-input {
	display: flex;
	flex-direction: row;
}

.fancy-number-input > input {
	border-radius: 0;
	padding: 0;
}

.fancy-number-input.big > input {
	height: calc(2 * var(--finger-size));
	font-size: 130%;
}

.fancy-number-input > input[type="number"] {
	-webkit-appearance: textfield;
	-moz-appearance: textfield;
	appearance: textfield;
}

.fancy-number-input > input[type=number]::-webkit-inner-spin-button, 
.fancy-number-input > input[type=number]::-webkit-outer-spin-button { 
	-webkit-appearance: none;
}

.fancy-number-input > button {
	line-height: var(--finger-size);
	width: var(--finger-size);
	text-align: center;
	padding: 0;
	border-radius: 0;
	border: 1px solid var(--color-mid);
	background-color: #fff;
	font-size: 130%;
}

.fancy-number-input.big > button {
	line-height: calc(2 * var(--finger-size));
	width: calc(2 * var(--finger-size));
}

.fancy-number-input > button.fancy-number-dec {
	border-top-left-radius: var(--corner-radius);
	border-bottom-left-radius: var(--corner-radius);
	border-right: none;
}

.fancy-number-input > button.fancy-number-inc {
	border-top-right-radius: var(--corner-radius);
	border-bottom-right-radius: var(--corner-radius);
	border-left: none;
}

fieldset {
	padding: 10px;
	border: 1px solid var(--color-mid);
	background-color: var(--color-dim);
	border-radius: var(--corner-radius);
	margin: 10px 0;
	display: flex;
	flex-direction: column;
	gap: 10px;
}

legend {
	color: var(--color-mid);
	font-size: 80%;
}

.button-label-container {
	border-radius: var(--corner-radius);
	background-color: var(--color-dim);
	padding: 4px;
	display: inline-block;
}

.button-label-container:hover {
	cursor: pointer;
}

.button-label-container label {
	padding: 2px;
	cursor: pointer;
	text-decoration: none;
}

button {
	background-color: var(--color-accent-light);
	outline: none;
	border: none;
	border-radius: var(--corner-radius);
	cursor: pointer;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	gap: 5px;
	padding: 8px;
}

button.large-button {
	min-width: var(--finger-size);
	height: var(--finger-size);
	font-size: 90%;
	padding: 0 var(--content-padding);
}

button.cancel {
	background: none;
	border: 1px solid var(--color-mid);
}

input:invalid,
select:invalid {
	border-color: red;
}

button:active {
	transform: translate(1px, 1px);
}


/* Figures */

figure {
    text-align: center;
}

figure > * {
    margin-left: auto;
    margin-right: auto;
}

figure > figcaption {
	text-align: center;
	font-style: italic;
}


/* Tables */

table {
    border-radius: var(--corner-radius);
    border-spacing: 0;
    overflow: hidden;
    padding: 0;
    min-width: 200px;
    box-shadow: var(--shadow);
}

tr:nth-of-type(odd) {
    background-color: var(--color-dim);
}

td.left, th.left {
    text-align: left;
}

td.right, th.right {
    text-align: right;
}

td.center, th.center {
    text-align: center;
}

td, th {
    padding: 0.5em 1em;
}

th {
    background-color: var(--color-accent-light);
    color: var(--color-text-dark);
}

th[scope="column"] {
	height: 2em;
}

th.colgap,
td.colgap {
	padding: 0;
	width: 2px;
	background-color: white;
}

table.many-row-input {
	box-shadow: none;
}

table.many-row-input input[type="text"] {
	height: 1em;
}


/* Home page */

.quick-overview {
	border: none;
	box-shadow: none;
	width: 100%;
}

.quick-overview tr {
	background: none;
}

.quick-overview .question {
	text-transform: uppercase;
	font-family: "Oswald", sans-serif;
	font-weight: bold;
	text-align: right;
	vertical-align: top;
}

.quick-overview address {
	display: inline;
}

iframe.map {
	display: block;
	max-width: 100%;
	border: none;
	aspect-ratio: 1.5;
	box-shadow: var(--shadow);
	border-radius: var(--corner-radius);
	margin: 10px 0;
}


/* List of matches */

ul.matches {
	list-style: none;
	display: grid;
	grid-gap: 10px;
	padding: 0;
}

ul.matches .match {
	display: flex;
	flex-direction: row;
	align-items: center;
	background-color: var(--color-dim);
	border-radius: var(--corner-radius);
	padding: 10px;
	min-height: 50px;
	box-sizing: border-box;
}

ul.matches .details {
	width: 120px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}

ul.matches .score {
	display: inline-block;
	flex: 1;
	padding: 5px 0;
	border-radius: var(--corner-radius);
	border: 2px solid var(--color-accent-light);
	white-space: nowrap;
	font-weight: bold;
}

ul.matches .score.winner {
	background-color: var(--color-accent-light);
}

ul.matches .versus {
	margin: 0 5px;
}

ul.matches .team {
	min-width: 200px;
	flex: 1;
	overflow-x: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

ul.matches .datetime > * {
	width: 120px;
	font-weight: bold;
	display: block;
}

.group-title {
	position: sticky;
	top: 0;
	background-color: #fff;
	font-size: 90%;
	color: var(--color-mid);
	font-weight: bold;
	text-align: center;
	text-transform: uppercase;
}

@media (width <= 800px) {
	ul.matches .match {
		flex-direction: column;
		gap: 10px;
	}
	ul.matches .datetime > * {
		display: inline;
	}
}

ul.matches .match:not(:last-child) {
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
}

ul.matches .options {
	background-color: var(--color-dim);
	border-bottom-left-radius: var(--corner-radius);
	border-bottom-right-radius: var(--corner-radius);
	padding: 5px;
	text-align: center;
}


/* List of players */

ul.players {
	list-style: none;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
	gap: 10px;
	padding: 0;
}

ul.players .player {
	background-color: var(--color-dim);
	border-radius: var(--corner-radius);
	padding: 5px;
}


/* Login page */

form.login {
	max-width: 300px;
	display: flex;
	flex-direction: column;
	gap: 10px;
}


/* Page filters */

.filters {
	margin-bottom: var(--content-padding);
}

.filter {
	display: inline-flex;
	flex-direction: column;
	justify-content: center;
	gap: 4px;
	margin-bottom: var(--content-padding);
	vertical-align: middle;
}

.filter:not(:last-of-type) {
	margin-right: var(--content-padding);
}

.filter label {
	font-weight: bold;
}

.fa-spinner {
	font-size: 120%;
	animation: 1s linear 0s infinite spin;
}


/* Blogs */

.blogs {
	list-style: none;
	margin: 0;
	padding: 0;
}

.blog {
	width: 100%;
	box-sizing: border-box;
	margin-bottom: var(--content-padding);
	border-bottom: 1px solid var(--color-mid);
	padding-bottom: var(--content-padding);
}

.blog h2 {
	margin: 0;
}

.blog .date {
	margin-top: 0;
	color: var(--color-mid);
	font-size: 90%;
}

.blog img {
	max-width: 100%;
	box-sizing: border-box;
	border-radius: var(--corner-radius);
	display: block;
	margin: 0 auto var(--content-padding) auto;
	left: 0;
	right: 0;
}

.blog button.delete {
	float: right;
}

.page-nav i {
	font-size: 120%;
}

.page-nav span {
	margin: 0 5px;
}

.page-nav a[href=""] {
	color: var(--color-mid);
	cursor: default;
	pointer-events: none;
}


/* Footer */

footer {
	flex: 1;
	margin-top: 40px;
	background-color: var(--color-dim);
	padding: var(--content-padding) max(calc(50% - 0.5 * var(--max-page-width)), 0px);
	display: flex;
	flex-direction: row;
}

footer > .left {
	padding: 0 0 0 var(--content-padding);
}

footer > .right {
	padding: 0 var(--content-padding) 0 0;
	text-align: right;
}

footer * {
	flex: 1;
    color: var(--color-mid);
}

footer .logo {
	height: 50px;
	padding: 5px;
	background-color: var(--color-mid);
	border-radius: var(--corner-radius);
}
