{% extends "base.html" %}

{% block content %}

<section>
	<p><i>PDF version <a class="highlight" target="_blank" href="https://drive.google.com/file/d/1mpTTU5WA96HXpSN05VX1e-NlRD9xA3fR/view?usp=sharing">here</a></i></p>
</section>

<section>
	<h2>Rounders Equipment & Preparation</h2>
	<ul>
		<li>4x Rounders Bats</li>
		<li>4x Bases and sticks</li>
		<li>6x Rounders balls</li>
		<li>10x Cones</li>
	</ul>
	<figure>
		<img src="/images/fielddiagram.png"/>
	</figure>
	<p>
		A team should consist of a minimum of 6 players and a maximum of 15 players, with 10
		players allowed on the field at any one time. Any players under 18 years old must be
		accompanied at all times by a responsible parent/guardian.
	</p>
</section>

<section>
	<h2>Rounders Basics</h2>
	<p>Each team has two innings with all players in the team having a go at batting. An innings ends when all the batting players are either out or at a base so that there is no-one left to face the ball.</p>
	<p>The two team captain’s toss a coin, and the winner of the coin toss decides whether their team will bat first, or field first.</p>
	<p>One by one, the batters line up to take their turn in the batting square. The bowler throws the ball towards the batter.</p>
</section>

<section>
	<h2>Commonly Disputed Rules</h2>
	<p>A no-ball is defined as a ball that reaches the batter below their knee, above their head, or at their body, or is outside their reach. Two no-balls gives the batting team half a rounder. If 4 no-balls are bowled to one batter, the batter must move to first base.</p>
	<p>A batter may not leave a base while the ball is in the bowler’s hand and the bowler is inside the bowling square.</p>
	<p>Obstruction rules are about <strong>deliberate</strong> obstructions, if the batter is running along a direct path to the base they cannot obstruct the field, and if a fielder is making a good-faith attempt to get to the ball they cannot obstruct the batter.</p>
	<p>If you do not hit the ball, you <strong>may run</strong>, but you can only score by reaching fourth base, and you only score <strong>half a rounder</strong>.</p>
	<p>If the batter misses their first legal delivery, they <strong>do not</strong> have to run, but they must run on the second legal delivery whether they hit the ball or not. If the batter does hit the first legal delivery, they must run.</p>
	<p>The Umpires are giving up their time to adjudicate the game, and so their decision is final. They may make mistakes, we are only human, but whatever decision they reach stands.</p>

<section>
	<h2>Bowling and No-Balls</h2>
	The bowler must bowl a ball towards the batter so that:
	<ul>
		<li>It is thrown with a smooth, underarm action</li>
		<li>The ball arrives without bouncing and within the batters square</li>
		<li>The ball is above the batter’s knee, below the batter’s head, and not at the batter’s body</li>
		<li>The bowler’s feet are inside the bowler’s square when the ball is bowled</li>
	</ul>

	<p>If the ball doesn’t satisfy these conditions, a ‘no-ball’ is called.</p>
	<p>A batter can attempt to hit a no-ball and <strong>can run</strong> on a no-ball - whether the ball is hit or not, but <strong>cannot return once the first post is reached</strong>. If <strong>two</strong> consecutive no-balls are bowled to the same batter, a half-rounder is scored.</p>
</section>

<section>
	<h2>Batting</h2>
	<ul>
		<li>The batter gets <strong>two chances</strong> to hit the ball (ignoring no-balls). The batter <strong>must run</strong> on the second legal delivery even if the ball is not struck</li>
		<li>If the ball is struck, on either the first or second legal delivery, the batter <strong>must run</strong></li>
		<li>If the ball is hit behind the batting square, the batter must <strong>stop at first base</strong> until the ball passes the front of the batting square. Once the ball is in front of the batting square, the batter may carry on running and scores in the usual fashion</li>
		<li>Otherwise, the batter runs around the outside of as many of the bases as possible, and stops at a post only when the batter thinks there is a danger of the next post being ‘stumped’</li>
	</ul>
</section>

<section>
	<h2>Outs</h2>
	A batter is out if:
	<ul>
		<li>The batter hits the ball, and the ball is caught by a fielder without first hitting the ground</li>
		<li>The post being run to is ‘stumped’ - a fielder touches the post with a ball</li>
		<li>The batter runs inside a post instead of round the outside</li>
		<li>The batter loses contact with a post while the ball is in the bowlers hand and the bowler is inside the bowlers square</li>
		<li>The batter overtakes a fellow batter while running around the posts</li>
		<li>A batter obstructs a fielder while not running between posts, <strong>or</strong> deliberately alters their path while running in order to obstruct a fielder</li>
		<li>The batter’s foot is outside the batting square when the ball is bowled</li>
		<li>The bat leaves the batter’s hand in a dangerous fashion</li>
	</ul>
</section>

<section>
	<h2>Scoring Rounders</h2>
	<p>A score is <strong>immediately posted</strong> in the following situations:</p>
	<ul>
		<li>if the batter hits the ball, or runs on a no-ball, and makes it to 4th post in one go (i.e. before the next ball is bowled) without getting out, a rounder is scored</li>
		<li>If the batter fails to hit the ball (on a legal delivery) and reaches the 4th post in one go, a half-rounder is scored</li>
		<li>If the batter hits the ball, and makes it to 2nd post in one go, a half-rounder is scored</li>
		<li>If the batter is <strong>deliberately</strong> obstructed by a fielder while running directly between posts, a half-rounder is scored (I.e. not in the event the batter has deliberately changed their line in order to be obstructed, and not when the fielder is making a good-faith attempt to retrieve the ball)</li>
		<li>If two no-balls are bowled consecutively, a half-rounder is immediately scored</li>
	</ul>
	<p><strong>N.B.</strong> No additional rounders are scored for making it past 4th post on a different batter’s hit - a batter can only score on a delivery bowled to themselves.</p>
</section>

<section>
	<h2>Additional Rules</h2>
	<p>Two batters cannot share the same post. If one batter arrives at a post and the other batter is already there, the batter who was already at the post must run on to the next post.</p>
	<p>If a batter is running to a post, and is unable to stop while making contact with the post, they must continue running in a straight line along their path. If they turn towards the next post, that counts as leaving the post and they must continue to the next post.</p>
	<p>A batter cannot be caught out on a no-ball, even if they hit the ball.</p>
	<p>If a batter is the final batter left, they are entitled to <strong>three good deliveries</strong>, rather than the usual two, i.e., even if the batter hits a good delivery, they do not have to run until the third good delivery. However, if a good delivery is caught by a fielder without bouncing, the batter is out whether or not they chose to run.</p>
</section>

<section>
	<h2>Winning</h2>
	<p>After both teams have batted for two innings (i.e. 4 innings played total), whichever side has the most rounders wins. If both teams have an equal number of rounders, the game is a draw.</p>
</section>

<section>
	<h2>Last But Not Least...</h2>
	<p>Have fun!</p>
</section>

{% endblock %}
