{% extends "base.html" %}

{% block content %}

{% if matches|length > 0 %}
<section>
	<h2>Next Matches</h2>
	{% include 'matches/list.html' %}
</section>
{% endif %}

<section>
	{% if matches|length > 0 %}
	<h2>Overview</h2>
	{% endif %}

	<div class="faq">
		<span class="question">What?</span>
		<span class="answer">A summer rounders tournament organised by postgrads, for postgrads!</span>

		<span class="question">When?</span>
		<span class="answer">18:00 and 19:00 on Mondays and Thursdays, running from the week of 10th June until the week of 22nd July.</span>

		<span class="question">Who?</span>
        <span class="answer">Organised by Tom Joshi-Cale, Bel Hartley and Katie Milsom. Contact <address><a class="highlight" href="mailto:tj294@exeter.ac.uk">tj294@exeter.ac.uk</a></address> with any queries.</span>

		<span class="question">How?</span>
		<span class="answer">It's very casual, but <a class="highlight" href="/rules">here's an outline of the rules</a> if you need to brush up!</span>

		<span class="question">Where?</span>
		<span class="answer">
			The Exwick Cricket Club grounds, EX4 1EG. Over the river from Mill on the Exe, next to the Flowerpot Playing Fields.
		</span>

		<!-- <div> -->
			<!-- <span class="question">Sign me up!</span> -->
			<!-- <span class="answer">Great! Sign up as a team or an individual by completing <a class="highlight" target="_blank" href="https://forms.office.com/Pages/ResponsePage.aspx?id=d10qkZj77k6vMhM02PBKUw6_kGGZzg9KraJuxFzesK5UM1BQWFpWSENQOTFaUDQ0SVdVNFNNU0RDMy4u">this form</a>.</span> -->
		<!-- </div> -->

	</div>
</section>

<section>
	<figure>
		<iframe class="map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3091.634485509637!2d-3.5458249049514396!3d50.72486091575009!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x486da5ac925d2877%3A0x919190ab2f80eb73!2sExwick%20Cricket%20Club%20Home%20Ground!5e0!3m2!1sen!2suk!4v1714951892025!5m2!1sen!2suk" width="500" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
	</figure>
</section>

{% endblock %}
