{% extends "base.html" %}

{% block content %}

<section>

    <form method="POST" action="/teams?next={{ next }}">
    	<input type="hidden" name="year" value="{{ year }}"/>
        <input type="text" name="name" placeholder="Team Name" required>
        <fieldset>
            <legend>Players</legend>

            <div class="many-row-input">
                <template>
                    <div class="row">
                        <input required type="text" name="name-first" placeholder="First Name"/>
                        <input required type="text" name="name-last" placeholder="Last Name"/>
                        <button type="button" class="large-button" onclick="removeRow(this)"><i class="fa-solid fa-trash"></i></button>
                    </div>
                </template>
                <div class="button-label-container" onclick="addRow(this)">
                    <button type="button" name="add-player" class="large-button">
                        <i class="fa-solid fa-plus"></i>
                    </button>
                    <label for="add-player">Add Player</label>
                </div>
            </div>

        </fieldset>
    	<a href="{{ next }}">
    		<button type="button" class="large-button cancel">Cancel</button>
    	</a>
        <button class="large-button" type="submit">Create</button>
    </form>

</section>

{% endblock %}
